Arduino[[:space:]]and[[:space:]]Kinect[[:space:]]Projects[[:space:]]-[[:space:]]Design,[[:space:]]Build,[[:space:]]Blow[[:space:]]Their[[:space:]]Minds[[:space:]]2012th[[:space:]]edition[[:space:]]2012.pdf filter=lfs diff=lfs merge=lfs -text
Arduino[[:space:]]Sketches[[:space:]]-[[:space:]]Tools[[:space:]]and[[:space:]]Techniques[[:space:]]for[[:space:]]Programming[[:space:]]Wizardry[[:space:]]2015.pdf filter=lfs diff=lfs merge=lfs -text
Make[[:space:]]-[[:space:]]Bluetooth[[:space:]]-[[:space:]]Bluetooth[[:space:]]LE[[:space:]]Projects[[:space:]]with[[:space:]]Arduino,[[:space:]]Raspberry[[:space:]]Pi,[[:space:]]and[[:space:]]Smartphones[[:space:]]2016.pdf filter=lfs diff=lfs merge=lfs -text
